{% extends 'beneficarytemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Welfare programs</h3>
        {% if data %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Place</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.venue}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.start_date}}</td>
                    <td>{{i.end_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No Welfare programs available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}